name: Docker CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Stop old container
        run: |
          docker stop myapp || true
          docker rm myapp || true

      - name: Build Docker Image
        run: docker build -t my-docker-app:v1 .

      - name: Run Docker Container
        run: docker run -d -p 8080:80 --name myapp my-docker-app:v1
